name: owg-log
markdown: kramdown
highlighter: rouge
baseurl:
url: https://operations.osmfoundation.org
defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      layout: default
  - scope:
     path: ""
     type: posts
    values:
      layout: post

plugins:
  - jekyll-feed
